@import "tailwindcss";

/* Scroll suave global */
html {
  scroll-behavior: smooth;
}

/* Offset para compensar header fixo */
section[id] {
  scroll-margin-top: 80px;
}

@theme {
  --color-primary-100: #b55327;
  --color-primary-200: #8c2a2a;

  --color-secondary-100: #b4b832;
  --color-secondary-200: #b4b802;

  --color-accent-100: #1c7b7a;
  --color-accent-200: #17c8e0;

  --color-dark-100: #4b4b4b;
  --color-dark-200: #333333;
  --color-dark-300: #000000;
  --color-main-gray-300: #797979;

  --color-light-100: #ffffff;
  --color-light-200: #f2f2f2;
  --color-light-300: #e0e0e0;

  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;

}

@layer components {
  /*Reset base*/

  h1 {
    @apply text-5xl font-bold text-neutral-200;
  }

  h2 {
    @apply text-3xl font-bold text-[var(--color-primary-100)] border-l-2 border-amber-500 pl-3 mb-10;
    font-family: 'Bigshot One';
  }

  h3 {
    @apply text-2xl font-semibold text-neutral-300 border-b-2 border-stone-800 pb-3;
    font-family: 'Courier New', Courier, monospace;
  }

  h4 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-base;
  }

  a {
    @apply text-stone-300 cursor-pointer hover:text-[var(--color-primary-100)];
  }

  button {
    @apply cursor-pointer;
  }

  /*Utilitarios*/

  .textcolor-primary {
    color: var(--color-primary-100);
  }

  .textcolor-secondary {
    @apply text-gray-500;
  }

  .bg-primary {
    @apply bg-stone-800;
  }

  .bg-secondary {
    @apply bg-stone-700;
  }

  .border-primary {
    @apply border-amber-300;
  }

  .border-secondary {
    @apply border-gray-500;
  }

  /* --- COMPONENTES --- */

  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium;
  }

  .btn-primary {
    @apply text-white bg-amber-300 hover:bg-amber-400 focus:ring-2 focus:ring-offset-2 focus:ring-amber-500;
  }

  .btn-secondary {
    @apply text-white bg-gray-500 hover:bg-gray-600 focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  }

  .btn-outline {
    @apply bg-transparent border-2;
  }

  .btn-outline-primary {
    @apply border-amber-300 hover:bg-amber-300 hover:text-white focus:ring-2 focus:ring-offset-2 focus:ring-amber-500;
  }

  .btn-outline-secondary {
    @apply text-gray-500 border-gray-500 hover:bg-gray-500 hover:text-white focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  }

  .separator {
    @apply border-t border-gray-300 my-4;
  }

  /* Fontes Customizadas */
  .font-bigshot {
    font-family: 'Bigshot One', cursive;
  }

  .font-mono {
    font-family: 'Courier New', Courier, monospace;
  }


}
